/**/
.header-img {
    background-image: url("parallax-bg/header.jpeg");
    min-height: 400px;
}

.famous-img {
    background-image: url("parallax-bg/famous.jpeg");
    min-height: 400px;
}

.vegetation-img {
    background-image: url("parallax-bg/vegetation.jpeg");
    min-height: 400px;
}

.desert-img {
    background-image: url("parallax-bg/desert.jpeg");
    min-height: 400px;
}

.ice-img {
    background-image: url("parallax-bg/ice.jpeg");
    min-height: 400px;
}

.locations-img {
    background-image: url("parallax-bg/locations.jpeg");
    min-height: 400px;
}

.separator {
    background-color: grey;
    color: rgb(243, 243, 243);
    text-align: center;
    font-size: 1.5rem;
    padding: 16px;
    margin-left: 0px;
    width: 100%;
    height: 80px;
}

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}